@font-face{
    src:url(../../fonts/SegoeUI/Segoe\ UI.ttf);
    font-family:SegoeUI;
    }
.MsgText-container p{
    opacity: 1;
    color: rgba(96,94,92,1);
    font-family: SegoeUI;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}
.MsgText-container p:first-child{
    width: 43px;
    height: 17px;
    margin-bottom: 22px;
    margin-left: 67px;
}
.MsgText-container p:last-child{
    width: 380px;
    height: 95px;
    margin-left: 80px;

}